spring.security.oauth2.client.registration.github.client-id={Github OAuth Client ID}
spring.security.oauth2.client.registration.github.client-secret={Github OAuth Client Secret}
spring.security.oauth2.client.registration.github.scope={Github OAuth 권한 범위}